<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @service.company_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Images:</strong>
  <%= @service.images %>
</p>

<p>
  <strong>Catch copy:</strong>
  <%= @service.catch_copy %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @service.discription %>
</p>

<p>
  <strong>Strong point:</strong>
  <%= @service.strong_point %>
</p>

<p>
  <strong>Rv whole:</strong>
  <%= @service.rv_whole %>
</p>

<p>
  <strong>Rv cost:</strong>
  <%= @service.rv_cost %>
</p>

<p>
  <strong>Rv support:</strong>
  <%= @service.rv_support %>
</p>

<p>
  <strong>Rv maintenability:</strong>
  <%= @service.rv_maintenability %>
</p>

<p>
  <strong>Tv experience:</strong>
  <%= @service.tv_experience %>
</p>

<p>
  <strong>Rv simplisity:</strong>
  <%= @service.rv_simplisity %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
